:root {
    --bg-odd: white;
    --bg-even: lightgray;
    --bg-dark: rgb(52, 51, 51);
    --bg-b-p: lightblue;
    --bg-s-p: pink;
    --bg-header: #3161e0;
    --main-light: #ffffff;
    --main-dark: #23272a;
    --bg-light: #f6f6f6;
    --btn-medium: #8ea1e1;
    --list-header: #6b80cb;

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

/*Utility*/
.font {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;;
}
.bg-light{
    background-color: var(--bg-light);
}

.bg-lighter {
    background-color: var(--main-light);
}

.bg-dark{
    background-color: var(--main-dark);
}

.list-header {
    color: var(--list-header);
}

/*.debug *{
    border-style: dashed;
}*/

.big-container {
    min-height: 100%;
}

.small-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;

}



/* Header */
.top {
    background-color: var(--bg-header);
    padding: 0.5rem;
    
}

.nav {
    display: flex;
    justify-content: space-around; 
    margin-right: 15%;
    margin-left: 15%;
    background-color: var(--bg-header);
    line-height: 30px;
    gap: 0px;
    align-items: center;
    
    
    
    #logo {
        text-align: left;
        flex-grow: 1;
    }
    
    #link {
        text-align: center;
        flex-grow: 2;

        a {
            text-decoration: none;
            color: var(--main-light);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 500;
            margin: 1rem;
        }
    }
    
    #login
        {
            text-align: right;
            flex-grow: 1;
        }
}

/* Main */
.jumbotron {
    background-image: url("./img/jumbo.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

#jumbo-section {
    min-height: 300px;
    width: 65%;
    text-align: center;

    h1 {
        margin-top: 4rem;
        font-size: 3rem;
    }

    p {
        font-size: 18px;
        font-weight: 400px;
        padding: 1rem 7rem;
        line-height: 28px;
    }
}

.text-header {
    color: var(--main-light);
}

.bg-odd {
    background-color: var(--);
}
.bg-even {
    background-color: var(--bg-even);
}

.bg-dark {
    background-color: var(--main-dark);
}

.section {
    display: flex;
    width: 65%;
    min-height: 400px;
    margin: 2.5% 0;
    justify-content: center;
}

/*
#invite-only {
    display: flex;
    justify-content: center;
    text-align: center;
}
*/

#tech {
    min-height: 700px;
    width: 65%;
    margin: 2.5% 0;
    background-color: var(--bg-light);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.big-part{
    min-width: 60%;
    padding: 5rem;   
}

.small-part {
    min-width: 40%;
    padding: 5rem ;
}

/*H2*/
.h2-left {
    font-size: 2.5rem ;
    margin-left: 2rem;
    padding: 0rem 1.5rem;
}

.h2-right {
    font-size: 2.5rem ;
    margin-left: 2rem;
    padding: 0rem 1.5rem;
}

.h2-center {
    font-size: 2.5rem ;
}

h3 {
    font-size: 1.5rem;
}

.h3-table {
    font-size: 1.7rem;
}

/*P*/
.p-left {
    padding: 0rem 1.5rem;
    line-height: 25px;
    margin-left: 2.5rem;
}

.p-right {
    padding: 0rem 3rem;
    line-height: 25px;
}

.p-center {
    line-height: 25px;
    padding: 0rem 2.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

/*IMG*/
#img-invite {
    margin-right: 2rem;
}

#img-community {
    margin: 0px;
    padding-right: 3rem;
}

#img-table {
    width: 1.5rem;
}


.img-social {
    width: 1.3rem;
    padding-top:1rem;
    padding-right: 1rem;
}

/*BTN*/

.btn {
    
    color: var(--main-dark);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    padding: 10px;
    border-style: none;
}

.login {
    background-color: var(--main-light);
}

.sign-up {
    background-color: var(--btn-medium);
    color: var(--main-light);
}

.btn-jumbo {
    border-radius: 50px;
    border-style: none;
    padding: 1rem 2rem;
    margin-bottom: 7rem;
    font-size: 18px;
}

.btn-main {
    border-radius: 50px;
    border-style: none;
    padding: 1rem 2rem;
    font-size: 18px;
    width: fit-content;
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.light {
    background-color: var(--main-light);
    color: var(--main-dark);
    margin-right: 10px;
}

.dark {
    background-color: var(--main-dark);
    color: var(--main-light);
    margin-left: 10px;
}

.medium {
    background-color: var(--btn-medium);
    color: var(--main-light);
}

/* Footer */ 
footer {
    background-color: var(--main-dark);
}

/*TABLE*/
.table {
    background-color: var(--main-dark);
    display: flex;
    width: 65%;
    min-height: 450px;
    margin: 1% 0 0% 0;
    color: var(--main-light);
    padding-top: 2rem;

    .big-table-part {
        flex-grow: 2;
        background-color: var(--main-dark);
        text-align: left;

        span {
            font-size: 0.8rem;
            vertical-align: top;
        }
    }

    .small-table-part {
        flex-grow: 1;
        background-color: var(--main-dark);
        margin-left: 2rem;
    }

    ul {
        list-style: none;
    
        li {
            font-size: 14px;
            line-height: 30px;
        }
    }
   
}
 hr {
    margin: 0px;
    border: solid 0.5px var(--list-header);
    margin: 0 8rem 0 8rem;
    background-color: var(--list-header);
 }

    .bottom {
        background-color: var(--main-dark);
        display: flex;
        justify-content: center;
        align-items: flex-end;
        min-height: 80px;
        padding-bottom: 4rem;
    
        .bottom-bar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;
            width: 80%;
        }
        .bm-btn {
            padding: 5px;
        }
    }


    